@model Foxtrot.Models.EmployeeViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Class)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
    </dl>

    <div class="modal fade" id="editProfile">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Edit Employee Profile</h4>
                </div>
                <div class="modal-body">
                    <form id="edit-profile-form" action="@Url.Action("Edit", "Profile")" method="post">
                        <input type="hidden" name="Id" value="@Model.Id" />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Class)
                            </dt>

                            <dd>
                                @Html.DropDownListFor(model => model.Class, new SelectList(Enum.GetValues(typeof(Foxtrot.Core.EmployeeClass))))
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.FirstName)
                            </dt>

                            <dd>
                                @Html.TextBoxFor(model => model.FirstName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.LastName)
                            </dt>

                            <dd>
                                @Html.TextBoxFor(model => model.LastName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Email)
                            </dt>

                            <dd>
                                @Html.TextBoxFor(model => model.Email)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Title)
                            </dt>

                            <dd>
                                @Html.TextBoxFor(model => model.Title)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Location)
                            </dt>

                            <dd>
                                @Html.TextBoxFor(model => model.Location)
                            </dd>
                        </dl>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="save-employee-changes">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>

<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#editProfile">
    Edit
</button>

<button class="btn btn-primary btn-lg back-home" data-toggle="modal">
    Back to Home
</button>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function (e) {
            $("#save-employee-changes").click(function (e) {
                $("#edit-profile-form").submit();
            });

            $(".back-home").click(function (e) {
                window.location = '/';
            });
        });
    </script>
}