@model Foxtrot.Models.EmployeeViewModel

@{
    ViewBag.Title = "Details";
}

@section Scripts{
    <script type="text/javascript">
        $('#add-employee').click(function (e) {
            $("#add-employee-form").submit();
        });

        $("#save-employee-changes").click(function (e) {
            $("#edit-employee-form").submit();
        });

        $(".back-home").click(function (e) {
            window.location = '/';
        });
    </script>
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Class)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Class)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
    </dl>
</div>

<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#edit-employee">
    Edit
</button>

<button class="btn btn-primary btn-lg back-home" data-toggle="modal">
    Home
</button>


@Html.Partial("EditEmployee")